<p id="notice"><%= notice %></p>

<p>
  <strong>Titre genre:</strong>
  <%= @genre.titre_genre %>
</p>

<%= link_to 'Éditer', edit_genre_path(@genre) %> |
<%= link_to 'Retour aux genres', genres_path %>
